.App {
  text-align: center;
  padding: 1rem;
}

.App-header {
  min-height: 6vh;
  max-height: 6vh;
  font-size: calc(10px + 2vmin);
}

.GameContainer {
  display: flex;
  justify-content: center;
}
