.Game {
  border: 1px solid #ddd;
  width: 402px;
  display: flex;
  flex-direction: column;
}

.Row {
  display: flex;
}

.Cell {
  border: 1px solid #333;
  height: 67px;
  width: 67px;
}

.bg-red {
  background-color: red;
}

.bg-blue {
  background-color: blue;
}

.bg-green {
  background-color: green;
}

.bg-yellow {
  background-color: yellow;
}

.bg-purple {
  background-color: purple;
}
