.Game {
  border: 1px solid #ddd;
  width: 402px;
  display: flex;
  flex-direction: column;
}

.Row {
  display: flex;
}

.Cell {
  border: 1px solid #333;
  height: 67px;
  width: 67px;
}

.blinking {
  -webkit-animation: blink 250ms infinite; /* Safari 4+ */
  -moz-animation: blink 250ms infinite; /* Fx 5+ */
  -o-animation: blink 250ms infinite; /* Opera 12+ */
  animation: blink 250ms infinite; /* IE 10+, Fx 29+ */
}

@keyframes blink {
  0%,
  49% {
    opacity: 0;
  }
  50%,
  100% {
    opacity: 1;
  }
}

.bg-deepblue {
  background: url("/deepblue.png") 50% / cover no-repeat;
}

.bg-blue {
  background: url("/blue.png") 50% / cover no-repeat;
}

.bg-green {
  background: url("/green.png") 50% / cover no-repeat;
}

.bg-yellow {
  background: url("/yellow.png") 50% / cover no-repeat;
}

.bg-orange {
  background: url("/orange.png") 50% / cover no-repeat;
}

.bg-purple {
  background: url("/purple.png") 50% / cover no-repeat;
}
